.error {
    color: #ff0000;
}

main {
    margin: 0 auto;
    margin-top: 250px;
    color:white;
    padding: 20px;
    text-align: center;
    min-height: 200px;
    border: 4.5px solid black;
    background: linear-gradient(
        to right,
        rgba(0,0,255, 0.9),
        rgba(255, 255, 0, 0.9)
    );
}

main button{
    margin: auto;
    border-radius: 20px;
    width: 250px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

main input {
    display: block;
    margin: auto;
    margin-bottom: 8px;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px;
}

main p {
    margin-right: 8px;
}

.deleteButton {
    background-color: red;
    border: red;
    color: white;
}

